@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@mixin bg() {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.join {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @include bg();

  &-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 700px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    gap: 25px;
    animation: fadeIn 0.8s ease-in-out forwards;

    &--expanded {
      animation: expand 0.5s ease-in-out forwards;
    }
  }

  &__heading {
    font-size: 46px;
    font-weight: bold;
  }

  input {
    outline: none;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    font-size: 16px;
  }

  &-btn {
    position: relative;
    width: 152px;
    height: 45px;
    outline: none;
    border: none;
    color: white;
    margin-top: 15px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    letter-spacing: 2px;
    user-select: none;
    cursor: pointer;
    @include bg();

    &:hover {
      opacity: 0.8;
    }

    &--arrow {
      position: absolute;
      top: 15px;
      margin-left: 8px;
      font-size: 17px;
    }
  }
}

.fade-out {
  animation: fade 0.5s ease-in-out forwards;
}

.fade-out:nth-child(1) {
  animation-delay: 400ms;
}
.fade-out:nth-child(2) {
  animation-delay: 300ms;
}
.fade-out:nth-child(3) {
  animation-delay: 200ms;
}
.fade-out:nth-child(4) {
  animation-delay: 100ms;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes expand {
  0% {
    width: 700px;
    height: 400px;
    opacity: 1;
  }

  100% {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
